In [3]:
%run Algorithmic_Trading.ipynb

Connected, time : 17/03/2022 00:39:11

In [ ]:

live_trading()

Connected, time : 17/03/2022 02:45:01
2022-03-17 02:45:02.082422
2022-03-17 02:45:02.206090
Prediction : BUY

,close,low,high,time,spread,MA_hour,MA_day,MA_week,close_to_MA,Result,position_type,valid
0,1931.87,1922.72,1934.58,2022-03-02 15:00:00,5,1921.05,1833.33,1818.15,True,0,BUY,NaN
1,1929.48,1922.18,1934.87,2022-03-02 16:00:00,5,1921.51,1833.44,1818.16,True,0,BUY,NaN
2,1926.96,1922.96,1935.58,2022-03-02 17:00:00,5,1921.93,1833.54,1818.16,True,0,BUY,NaN
3,1918.82,1916.32,1927.96,2022-03-02 18:00:00,5,1922.04,1833.64,1818.17,True,1,NaN,NaN
4,1918.58,1914.88,1921.89,2022-03-02 19:00:00,5,1922.07,1833.73,1818.17,True,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
231,1915.64,1912.77,1922.05,2022-03-16 15:00:00,5,1932.92,1865.05,1820.03,False,0,NaN,0.0
232,1909.84,1903.88,1919.79,2022-03-16 16:00:00,5,1931.89,1865.12,1820.03,False,0,NaN,0.0
233,1911.72,1909.36,1915.84,2022-03-16 17:00:00,5,1930.82,1865.19,1820.03,False,0,NaN,0.0
234,1910.11,1906.84,1912.53,2022-03-16 18:00:00,5,1929.73,1865.26,1820.03,False,0,NaN,0.0
235,1907.49,1907.41,1911.26,2022-03-16 19:00:00,5,1928.70,1865.33,1820.03,False,0,NaN,0.0